/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
	}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
	}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	margin:0px;	
	font-family: "Pirata One", system-ui;
	font-weight: 200;
	font-style: normal;
	}


#container {
	
	}
	
.navbar { 
	display: flex;
	align-items: center;
	justify-content:flex-end;
	background-color: #D20103; 
	padding: 40px 50px;
	} 
	
.navbar img { 
	height: 200px; 
	position:absolute;
	top:25px;
	left:15px;
	} 
	
.navbar ul { 
	list-style: none; 
	margin: 0; 
	padding: 10px; 
	display: block; 
	} 
	
button{
		background-color:red;
		}
	
.navbar li { 
	margin: 17px;
		
		
	} 
	
.navbar a { 
	color: white; 
	text-decoration: none; 
	padding: 8px 16px; 
	transition: background 0.3s; 
	font-family:'Old English Text MT', serif;
	font-size:30px;
	}
	
.navbar a:hover { 
	background-color: #F03A3C; 
	} 
	
h1{
	text-align:center;
	font-family:'Old English Text MT', serif;
	font-size:45px;
	}
	
p.home{
	margin:20px;
	padding:5px;
	margin-top:100px;
	float:left;
	max-width:600px;
	font-size:20px;
	}

.red{
	height:300px;
	width:auto;
	padding:25px;
	position:relative;
	left:100px;	
	}
	
.intro{
	position:relative;
	top:100px;
	left:30px;
	}
	
p.para1{
	margin-top:50px;
	padding:25px;
	}
	
p.para2{
	padding:25px;
	}
p.para3{
	padding:25px;
	}
	
	p.para4{
	padding:25px;
	}
	
img.founding{
	max-width:100%;
	}
	
figure.founding{
	border: 10px solid black;
	}
	
p.mission{
	padding:25px;
	}
	
p.begin{
	padding:25px;
	margin-top:50px;
	}
	
img.max{
	padding:50px;
	float:right;
	}	
	
ul.bullets{
	width:200px;
	margin-left:auto;
	margin-right:auto;
	}
	
h2.ifyou{
	text-align:center;
	}
	
p.main{
	padding:25px;
	}	
	
#button{
	display:grid;
	place-items:center;
	}
	
.shop-container { 
	display: grid; 
	grid-template-columns: repeat(auto-fill, minmax(600px, 1fr)); 
	gap:20px; 
	padding: 20px;
	margin-top:100px;
	} 
	
.product { 
	border: 1px solid #ccc; 
	border-radius: 5px; 
	padding: 10px; 
	text-align: center; 
	background-color: #f9f9f9; 
	transition: transform 0.3s, box-shadow 0.3s; 
	cursor:pointer;
	
	} 
	
	.product img { 
	max-width: 30%; 
	height: auto; 
	border-radius: 5px;
	} 
	
.product h3 { 
	margin: 10px 0; 
	font-size: 50px; 
	} 
	
.product p { 
	font-size: 20px; 
	color: #333; 
	} 
	
	
	.product:hover {
		transform: translateY(-5px); 
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		}
	
	
	footer{
	text-align:center;
	}
	
figcaption{
	text-align:right;
	}
	figcaption.fff{
		text-align:center;
		}
.form-container{
		display:flex;
		justify-content:center;
		align-items:center;
		height:100%;
		
		
		}
		
		label{
			font-size:50px;
			}
			
.enrollment{
	font-size:75px;
	text-align:center;
	}
	
	form { 
		display: flex; 
		flex-direction: column;
		margin:25px;
		}
		
		label { 
			margin-top: 10px; 
			}
			
		input, textarea { 
			padding: 10px; 
			margin-top: 5px; 
			margin-bottom: 15px; 
			border: 1px solid #ccc; 
			border-radius:3px;
			}
			
p.con{
	padding:25px;
	}
	
	h2.con{
		padding:25px;
		
		}
	
	
	
	
	
	

/*================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */
@media only screen and (min-width: 1000px) {
.navbar { 
	display: flex;
	align-items: center;
	justify-content:flex-end;
	background-color: #D20103; 
	padding: 40px 50px;
	} 
	
.navbar img { 
	height: 200px; 
	position:absolute;
	top:25px;
	left:15px;
	
	} 
	
.navbar ul { 
	list-style: none; 
	margin: 0; 
	padding: 0; 
		display: flex; 

	} 
	
	.navbar li { 
	margin: 0 10px;
		
		
	} 
	
.navbar a { 
	color: white; 
	text-decoration: none; 
	padding: 8px 16px; 
	transition: background 0.3s; 
	font-family:'Old English Text MT', serif;
	font-size:30px;
	}
	
.navbar a:hover { 
	background-color: #F03A3C; 
	} 
	
	button{
		background-color:red;
		}
		
} /* closes 769px+ */

	


